<?xml version="1.0"?>
<config>
    <modules>
        <Thai_S3>
            <version>1.0.0</version>
        </Thai_S3>
    </modules>
    <global>
        <blocks>
            <thai_s3>
                <class>Thai_S3_Block</class>
            </thai_s3>
        </blocks>
        <models>
            <thai_s3>
                <class>Thai_S3_Model</class>
                <resourceModel>thai_s3_resource</resourceModel>
            </thai_s3>
            <thai_s3_resource>
                <class>Thai_S3_Model_Resource</class>
            </thai_s3_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_storage_media_storage>Thai_S3_Model_Adminhtml_System_Config_Source_Storage_Media_Storage</system_config_source_storage_media_storage>
                </rewrite>
            </adminhtml>
            <core>
                <rewrite>
                    <file_storage>Thai_S3_Model_Core_File_Storage</file_storage>
                    <file_storage_database>Thai_S3_Model_Core_File_Storage_Database</file_storage_database>
                    <file_storage_directory_database>Thai_S3_Model_Core_File_Storage_Directory_Database</file_storage_directory_database>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Thai_S3_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
            <captcha>
                <rewrite>
                    <zend>Thai_S3_Model_Captcha_Zend</zend>
                </rewrite>
            </captcha>
            <dataflow>
                <rewrite>
                    <profile>Thai_S3_Model_Dataflow_Profile</profile>
                </rewrite>
            </dataflow>
        </models>
        <helpers>
            <thai_s3>
                <class>Thai_S3_Helper</class>
            </thai_s3>
            <core>
                <rewrite>
                    <file_storage>Thai_S3_Helper_Core_File_Storage</file_storage>
                    <file_storage_database>Thai_S3_Helper_Core_File_Storage_Database</file_storage_database>
                </rewrite>
            </core>
        </helpers>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <loaded_modules>
                    <Thai_S3 />
                </loaded_modules>
            </media_storage_configuration>
        </system>
    </default>
</config>
